.big2 {
  .flex {
    text-align: center;

    h1 {
      font-size: 52px;
      color: black;
    }

    h6 {
      color: black;
    }

    a {
      font-size: 12px;
      background-color: rgb(202, 193, 193);
      color: black;
      padding: 6px 8px;
      border-radius: 8px;
    }
  }
}
