.big5 {
  .flex {
    img {
      width: 1150px;
    }

    a {
      border: solid 1px grey;
      color: black;
      padding: 6px 7px;
      border-radius: 16px;
    }

    .box {
      text-align: center;
      margin: 32px;
    }
  }
}
