.big11 {
  margin-top: 50px;
  .flex {
    text-align: center;

    .spn {
      color: rgb(202, 198, 198);
    }

    img {
      border-radius: 20px;
      width: 100px;
    }

    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      i {
        border: solid 1px black;
        border-radius: 50%;
      }
    }
  }
}
