.big7 {
  background: linear-gradient(to right, rgb(128, 93, 81), rgb(117, 117, 74));

  .left {
    h1 {
      color: white;
      border-bottom: 1px solid rgb(179, 172, 172);
    }

    .hobby {
      color: yellow;
    }
  }

  .right {
    img {
      width: 300px;
    }
  }
}
