.big12 {
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul {
    li {
      margin: 10px 0px;
      a {
        color: gray;
      }
    }
  }
}
